*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    margin:0;
    background:white;
    padding-bottom:2px;
}
header{
    width:1000px;
    padding:25px 0 10px 0;
    margin:auto;
}

header img{
    width:80px;
    margin-left:30px;
}
.submission{
    width:950px;
    min-height:880px;  
    margin:auto;
    background:#963636;
    display:flex;
    gap:95px;
    padding:60px;
    color:white;
    position:relative;
    overflow:hidden;

    clip-path: polygon(
        0 0,
        100% 0,
        100% 88%,
        86% 100%,
        0 100%
    );
}
.left{
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding-left:20px;
    padding-top:170px;
    position:relative;
}

.left h1{
    font-size:45px;
    font-weight:800;
    margin-bottom:15px;
}

.left p{
    width:340px;
    font-size:12px;
    line-height:1.6;
    color:#111;
    margin-bottom:20px;
}

.left h2{
    font-size:18px;
    color:#111;
}
.right{
    width:60%;
    position:relative;
}

.right input{
    width:90%;
    height:42px;
    background:transparent;
    border:2px solid #ddd;
    margin-bottom:12px;
    padding:10px;
    color:white;
}

.right input::placeholder,
textarea::placeholder{
    color:white;
}

.right h2{
    font-size:22px;
    color:#111;
    margin-top:5px;
}

.right p{
    color:white;
    font-size:9px;
    margin-bottom:10px;
    white-space:nowrap;
}

label{
    display:flex;
    align-items:center;
    gap:6px;
    margin:10px 0;
    font-size:14px;
    color:white;
}

label input[type="checkbox"]{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;

    width:10px;
    height:10px;
    border:1px solid white;
    background:transparent;
    position:relative;
    cursor:pointer;
    transform:scale(.5);
    transform-origin:left center;
}

label input[type="checkbox"]:checked::after{
    content:"✓";
    position:absolute;
    top:-2px;
    left:0;
    font-size:22px;
    color:white;
    font-weight:bold;
}

textarea{
    width:90%;
    height:58px;
    background:transparent;
    border:2px solid #ddd;
    padding:10px;
    resize:none;
    color:white;
}

button{
    width:330px;
    height:45px;
    margin-top:30px;
    background:white;
    border:none;
    color:#555;
    font-size:18px;
}
.square{
    width:8px;
    height:8px;
    background:white;
    position:absolute;
}

.square1{
    top:315px;
    left:310px;
}

.square2{
    top:395px;
    left:310px;
}
.right-square{
    width:8px;
    height:8px;
    background:white;
    position:absolute;
}

.right-square1{
    top:230px;
    right:150px;
}

.right-square2{
    top:340px;
    right:145px;
}

.right-square3{
    top:460px;
    right:148px;
}

.right-square4{
    top:585px;
    right:150px;
}

.right-square5{
    top:695px;
    right:150px;
}

